.calculator{
    height: 400px;
    width:300px;
}
.calculator-container{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#number-input{
    width:250px;
}

.cal-buttons{
    text-align: center;
    cursor: pointer;
    border-radius: 40px;

}
.cal-buttons:hover{
    background-color: yellow;
}